
<table class="table table-bordered">
    <tr>
        <th>Title</th>
        <th>work_cost</th>
        <th>other_cost</th>
    </tr>
    {{#each jewel}}
    <tr>
        <td>{{jewelry_id}}</td>
        <td>{{work_cost}}</td>
        <td>{{other_cost}}</td>
        <td>
            <button id="delete_button" type="submit" name="/jewelry/delete/{{_id}}" class="btn btn-danger">Del</button>
            <a href="/jewelry/edit/{{_id}}" name="/jewelry/edit/{{_id}}" class="btn btn-success">Edt</a>
        </td>

    </tr>
    {{/each}}
    
</table>

<a href="/jewelry/create" class="btn btn-info" role="button">Create</a>

<script src="/javascripts/jewelryDelete.js"></script> <!-- load our javascript file -->
