<h1> {{title}} </h1>
<br>
<table class="table table-striped">
    <tr>
        <th>Names</th>
        <th>Values</th>
    </tr>
    <tbody>
        <tr>
            <td>Τιμή Χρυσού:</td>
            <td id = 'gold_price'>{{stand.gold_price}}</td>
        <tr>    
            <td>Κ9:</td>
            <td id = 'coif_K9'>{{stand.coif_K9}}</td>    
        </tr>    
        <tr>
            <td>Κ14:</td>
            <td id = 'coif_K14'>{{stand.coif_K14}}</td>
            
        </tr>
        <tr>
            <td>Κ18:</td>
            <td id = 'coif_K18'>{{stand.coif_K18}}</td>
        </tr>
        <tr>
            <td>Διαμαντίου/Κομμ.:</td>
            <td id = 'diamond_price'>{{stand.diamond_price}}</td>
        </tr>
        <tr>
            <td>Πολλαπλασιαστής:</td>
            <td id = 'mult'>{{stand.mult}}</td>
        </tr>
        <tr>
            <td>Eur/Dol</td>
            <td id = 'EurDol'>{{stand.EurDolExch}}</td>
        </tr>
    </tbody>
</table>

<a href="/standars/create" class="btn btn-info" role="button">Create</a>




